{% set template = salt['grains.filter_by']({
    'Ubuntu': {
        'pkg': 'cinnamon',
        'pkgrepo': 'deb http://packages.linuxmint.com/ qiana main upstream import',
        'pkgrepo_file': '/etc/apt/sources.list.d/cinnamon.list',
        'keyring_pkg': 'linuxmint-keyring',
    },
}, merge=salt['pillar.get']('cinnamon:lookup')) %}
